[*.{cs,fs,fsx}]
indent_size = 4
indent_style = space

[*.{sln,csproj,fsproj,config,xml,props}]
indent_size = 2
indent_style = space

[*.cs]
# Require "this." keyword qualification in code
dotnet_style_qualification_for_field = true:suggestion
dotnet_style_qualification_for_property = true:suggestion
dotnet_style_qualification_for_method = true:suggestion
dotnet_style_qualification_for_event = true:suggestion

# --------------------------- Rules seemingly used --------------------------- #

# General
insert_final_newline = false;

# Naming rules
dotnet_naming_style.camel_case.capitalization = camel_case
dotnet_naming_symbols.private_properties.applicable_accessibilities = private
dotnet_naming_symbols.private_properties.applicable_kinds = property, field
dotnet_naming_rule.private_properties_should_be_camel_case.severity = warning
dotnet_naming_rule.private_properties_should_be_camel_case.symbols = private_properties
dotnet_naming_rule.private_properties_should_be_camel_case.style = camel_case